@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Vazir';
    src: url("./assets/fonts/Vazir.ttf");
    font-style: normal;
}

body {
    direction: rtl;
    font-family: Vazir, serif;
}

.toast-message {
    direction: rtl;
    font-family: Vazir, serif;
    width: max-content;
}

.Toastify__toast-body {
    color: white;
    font-family: Vazir, serif;
}

.Toastify__toast--warning {
    border: 1px solid #E78326  !important;
    border-radius: 10px !important;
    background: linear-gradient(45deg, rgba(255,0,153,1) 0%, rgba(160,0,255,1) 100%) !important;
}

.Toastify__toast--error {
    border: 2px solid #fb0404 !important;
    border-radius: 10px !important;
    background: linear-gradient(45deg, rgb(214, 11, 245) 0%, rgba(160,0,255,1) 100%) !important;
}

.Toastify__toast--success {
    border: 2px solid #07bb0c !important;
    border-radius: 10px !important;
    background: linear-gradient(45deg, rgb(214, 11, 245) 0%, rgba(160,0,255,1) 100%) !important;
}

.spinner-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.spinner {
    border: 5px solid rgba(0, 0, 0, 0.1);
    border-top-color: #3498db;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    border-radius: 10px;
    margin-top: 40px;
    margin-bottom: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: #c1c1c1;
    border-radius: 9999px;
    height: 30px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #a1a1a1;
}

.dir-ltr {
    direction: ltr;
}